* {
    margin: 0;
    padding: 0;
    font-family: 'Akzidenz-Grotesk Pro', Arial, Helvetica, sans-serif;
}

.main_one {
    position: relative;
    height: 350px;
    background-color: rgb(255, 255, 255);
    
}
.main_one_img_title {
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.main_one_grup {
    width: 230px;
    height: 360px;
}

.main_one_img1 {
    width: 230px;
    height: 230px;
    margin-top: 30px;
    position: relative;
    border-radius: 0 0 20px 0;
    background-image: url(./img/main/one/1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main_one_img2 {
    width: 230px;
    height: 230px;
    margin-top: 30px;
    position: relative;
    border-radius: 0 0 20px 0;
    background-image: url(./img/main/one/2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main_one_img3 {
    width: 230px;
    height: 230px;
    margin-top: 30px;
    position: relative;
    border-radius: 0 0 20px 0;
    background-image: url(./img/main/one/3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main_one_img4 {
    width: 230px;
    height: 230px;
    margin-top: 30px;
    position: relative;
    border-radius: 0 0 20px 0;
    background-image: url(./img/main/one/4.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main_one_title {
    z-index: 1;
    position: relative;
    font-family: 'Akzidenz-Grotesk Pro Extra';
    font-size: 20px;
    font-weight: 800;
    color: #151515;
    margin-top: 10px;
}

.main_nav_fix {
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 1000;
}


.main_nav_fix-button {
   position: absolute;
   right: 0;
   top: 60px;
   z-index: 1000;
}

.main_nav_fix-button-open {
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 500;
    display: none;
}

.main_nav_grup {
    position: relative;
    justify-content: center;
    width: 100px;
    height: 80px;
    margin-top: 5px;
    border-radius: 10px 0 0 10px;
    padding: 10px 5px;
    background-color: #FF6712;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.main_nav_grup-open {
    position: relative;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    border-radius: 10px 0 0 10px;
    padding: 10px 5px;
    background-color: #FF6712;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.main_nav_grup:hover, .main_nav_arrow:hover,
.main_nav_grup-open:hover, .main_nav_arrow-open:hover{
    background-color: #212529;
}

.main_nav_arrow-open {
    position: absolute;
    z-index: 1000;
    margin: 10px 0;
    border-radius: 10px;
    padding: 5px 0 0 1px;
    background-color: #FF6712;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    width: 40px;
    height: 40px; 
    cursor: pointer;
    transition: .5s; 
}
.main_nav_arrow {
    position: relative;
    z-index: 1000;
    margin: 10px 0 0 35px;
    border-radius: 10px;
    padding: 8px 0 0 3px;
    background-color: #FF6712;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    width: 40px;
    height: 40px; 
    cursor: pointer;
    transition: .5s;  
}
.main_nav_right-menu {
    justify-content: center;
    text-align: center;
}

.main_nav_title {
    font-size: 14px;
}
.main_nav_icon {
    width: 22px;
    height: auto;
}
.main_nav_icon-up {
    width: 22px;
    height: auto;
    margin-top: 10px;
}

.main_nav_icon-open {
    width: 32px;
    height: auto;
}
.up {
    margin-top: 3px;
}

.main_two {
    background-color: black;
    z-index: -1;
    height: 850px;
}

.main_two_img_title {
    position: relative;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.main_two_heading {
    position: relative;
    width: 200px;
    z-index: 1;
    margin: 150px 0 0 550px;
}
.main_two_txt {
    font-family: 'Akzidenz-Grotesk Pro Extra'; 
    font-weight: 700;
    font-size: 52px;
    width: 200px;
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 52px;
    text-align: center;
}

.main_two_img {
    position: relative;
    width: 450px;
    height: auto;
}
.main_two_title {
    position: relative;
    font-size: 22px;
    margin-top: 8px;
    font-family: 'Akzidenz-Grotesk Pro Extra'; 
}
.main_two_background_fire2 {
    position: absolute;
    margin-top: 80px;
}

.main_two_background_fire1 {
    position: absolute;
    margin-top: 270px;
    margin-left: 584px;
}
.fire-main_two {
    position: absolute;
    width: 100%;
    background-image:  url(./img/main/two/image\ 1709.png);
    background-repeat: no-repeat;
    background-position:  left 50%;
    height: 1250px;
}
.fireplace-main_two {
    position: absolute;
    width: 100%;
    background-image:  url(./img/main/two/image\ 1710.png);
    background-repeat: no-repeat;
    background-position: bottom 100px right -50% !important;
    height: 1250px;
}
.cloud_up_two {
    position: relative;
    height: 230px;
    align-items: center;
}

.sky-up-four {
    position: absolute;
    width: 1000px;
    height: 700px;
    right: 0;
    background-image:  url(./img/main/three_four/gren_sky_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.sky-center-four {
    position: absolute;
    width: 100%;
    background-image:  url(./img/main/three_four/gren_sky_2.png);
    background-repeat: no-repeat;
    background-position: left 0% !important;
    height: 1000px;
    top: 2900px;
    z-index: 1;
}
.sky-down-four {
    position: absolute;
    width: 100%;
    background-image:  url(./img/main/three_four/gren_sky_3.png);
    background-repeat: no-repeat;
    background-position: bottom 100px right -20% !important;
    height: 1000px;
    top: 3500px;
    z-index: 1;
}

.main_three-four-five  {
    position: relative;
    background-color: #ffffff;
    top: 130px;

}

.main_three_heading {
    position: relative;
    position: relative;
    width: 430px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 450px;
    z-index: 5;
}

.main_three_txt {
    font-family: 'Akzidenz-Grotesk Pro Extra'; 
    font-weight: 700;
    color: black;
    font-size: 52px;
    text-transform: uppercase;
}

.cloud_up-three {
    position: absolute;
    width: 100%;
    background-image: url(./img/cloud_up.png);
    height: 240px;
    align-items: center;
    top: 2040px;
}

.block-point-h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 7px;
}

.block-point-p {
    font-size: 12px;
    line-height: 12px;
    float:left;
}

.block-point-img1 {
    position: relative;
    width: 255px;
    height: 170px;
    top: 30px;
    background-image: url(./img/main/three_four/Group\ 1.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    
}
.block-point-img2 {
    position: relative;
    width: 120px;
    height: 60px;
    top: 15px;
    left: 146px;
    border-radius: 0 0 20px 0;
    background-image: url(./img/main/three_four/image-removebg-preview\ \(5\)\ 1.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.block-point-img3 {
    position: relative;
    width: 220px;
    height: 130px;
    left: 46px;
    background-image: url(./img/main/three_four/Mask\ group.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.block-point-img4 {
    position: relative;
    width: 400px;
    height: 120px;
    top: -20px;
    background-image: url(./img/main/three_four/image\ 1716.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.block-point-img5 {
    position: relative;
    width: 419px;
    height: 136px;
    border-radius: 0 0 20px 0;
    background-image: url(./img/main/three_four/de565b8246f5e0519a99070cd92930c5\ 2.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.block-point-img6 {
    position: relative;
    width: 300px;
    height: 150px;
    top: 10px;
    left: 120px;
    border-radius: 0 0 20px 0;
    background-image: url(./img/main/three_four/1629902444_28-kartinkin-com-p-semya-na-shashlikakh-yeda-krasivo-foto-31-removebg-preview\ 1.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.main_three_block-point {
    position: relative;
    height: 280px;
    margin-top: 40px;
    display: grid;
    grid-gap: 21px;
    justify-content: center;
    grid: repeat(4, 120px) / repeat(3, 286px);
    z-index: 5;
}

.block-point {
    padding: 20px 20px;
}

.point1 {
    grid-area: 1 / 1 / span 2 / span 1;
    background: linear-gradient(210.26deg, #FFDAA4 34.47%, #FFA722 89%);
    border-radius: 20px;
    color: #151515;

}
.point2 {
    grid-area: 1 / 2;
    background: linear-gradient(90.79deg, #404040 16.59%, #656565 88.75%);
    border-radius: 20px;
}
.point3 {
    grid-area: 1 / 3 / span 2 / span 1;
    background: linear-gradient(138.92deg, #FFDAA4 13.87%, #FFA722 91.05%);
    border-radius: 20px;
    color: #151515;
}

.point4 {
    grid-area: 2 / 2;
    background: linear-gradient(260.85deg, #DCDCDC 11.33%, #F3F3F3 93.09%);
    border-radius: 20px;
    color: #151515;
    display: flex;
}
.main_three_block-point_down {
    position: relative;
    display: flex;
    gap: 20px;
    border-radius: 20px;
    justify-content: center;
    z-index: 5;
}
.point5 {
    width: 440px;
    height: 180px;
    background: linear-gradient(249.2deg, #404040 32.66%, #656565 93.4%);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    position: relative;
}
.block-point5_title {
    width: 230px;
}

.point6 {
    width: 440px;
    height: 180px;
    background: linear-gradient(249.2deg, #404040 32.66%, #656565 93.4%);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}
.block-point6_title {
    width: 220px;
    position: absolute;
}

.main_four {
    margin-top: 100px;
    
}

.main_four_heading {
    position: relative;
    width: 620px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 350px;
    z-index: 5;
}

.main_four_txt {
    position: relative;
    font-family: 'Akzidenz-Grotesk Pro Extra'; 
    font-weight: 700;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 52px;
}
.main_four_carousel {
    position: relative;
    display: flex;
    z-index: 6;
    align-items: center;
    margin-top: 80px;
}
.carousel {
    position: relative;
    display: flex;
    gap: 20px;
    z-index: 6;
    overflow: hidden;
    justify-content: center;
}

.carousel::before {
    background: linear-gradient(to right, rgb(228, 228, 228) 0%, rgba(255, 255, 255, 0) 80%);
    content: "";
    height: 500px;
    position: absolute;
    width: 200px;
    z-index: 2;
    left: 0;
  }

 .carousel::after {
    background: linear-gradient(to left, rgb(253, 252, 252) 0%, rgba(255, 255, 255, 0) 50%);
    content: "";
    height: 500px;
    position: absolute;
    width: 200px;
    z-index: 2;
    right: 0;
  }


.main_four_carousel-photo {
    width: 500px;
    height: 300px;
}

.main_four-arrow {
    position: absolute;
    display: flex;
    z-index: 50;
    text-align: center;
    
}

.main_four-arrow-left {
    position: relative;
    width: 45px;
    height: 45px;
    background: #FF6712;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: #151515 1px 0 12px;
    left: 370px;
}

.main_four-arrow-left:hover, .main_four-arrow-right:hover {
    background: #ee6719;
}

.main_four-arrow-right {
    position: relative;
    width: 45px;
    height: 45px;
    padding: 16px;
    box-sizing: border-box;
    background: #FF6712;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: #151515 1px 0 12px;
    left: 880px;
}
.fixed {
    margin-top: 4px;
    width: 10px;
    height: auto;
}
.fixed-open {
    width: 20px;
    height: 18px;
    padding: 6px;
}

.main_four_dots-navigation {
    color: #D9D9D9;
    position: relative;
    display: flex;
    gap: 6px;
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    z-index: 4;
}
.main_four_dots {
    transition: .2s;
}
.main_four_dots:hover {
    color: #FF6712;
}
.main_five {
    height: 643px;
}
.main_five_heading {
    position: relative;
    width: 900px;
    font-size: 52px;
    margin: 100px 0 80px 100px;
    z-index: 3;
}

.main_five_txt {
    position: relative;
    font-family: 'Akzidenz-Grotesk Pro Extra'; 
    font-weight: 700;
    color: black;
    text-align: left;
    text-transform: uppercase;
    padding: 10px 35px;
    box-sizing: border-box;
}

.button_test {
    position: relative;
    padding: 22px 100px;
    box-sizing: border-box;
    border-radius: 183px;
    background: linear-gradient(95.37deg, #FF6712 46.88%, #FF9900 100%);
    border: none;
    font-family: 'Akzidenz-Grotesk Pro Extra';
    font-size: 22px;
    color: white;
    z-index: 2;
    margin-left: 150px;
    cursor: pointer;
}
.button_test:hover {
    background: #FF9900;
}
.five_fireplace {
    position: absolute;
    background-image: url(./img/main/three_four/fireplace.png);
    height: 700px;
    width: 600px;
    left: 880px;
    bottom: 10px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    z-index: 2;
}

.cloud_down-six {
    position: absolute;
    width: 100%;
    background-image: url(./img/cloud_down.png);
    height: 260px;
    align-items: center;
    top: 4423px;
}

.main_six{
    height: 790px;
    margin-top: 200px;
}

.smoke-up {
    position: absolute;
    width: 100%;
    background-image: url(./img/main/six/image\ 1700.png);
    background-repeat: no-repeat;
    background-position: left 90% !important;
    height: 350px;
    top: 4600px;
    z-index: 1;
}
.smoke-down {
    position: absolute;
    width: 100%;
    background-image: url(./img/main/six/image\ 1701.png);
    background-repeat: no-repeat;
    background-position: right 90% !important;
    height: 800px;
    top: 4350px;
    z-index: 1;
}

.main_six_block {
    position: relative;
    margin-top: 50px;
    justify-content: center;
    height: 300px;
    display: grid;
    grid-gap: 21px;
    grid: repeat(2, 150px) / repeat(3, 300px);
}
.main_six_heading {
    position: relative;
    width: 400px;
    padding: 17px;
    box-sizing: border-box;
    margin-left: 160px;
}

.main_six_title {
    position: relative;
    margin-left: 180px;
}

.main_six_txt {
    position: relative;
    font-family: 'Akzidenz-Grotesk Pro Extra'; 
    font-weight: 700;
    text-align: center;
    font-size: 52px;
    text-transform: uppercase;
}

.six-block-point-silver {
    position: relative;
    width: 300px;
    height: 150px;
    background: linear-gradient(275.59deg, #D0D0D0 19.29%, #FEFEFE 83.47%);
    border-radius: 10px;
    display: flex;
}

.six-block-point-orange {
    position: relative;
    width: 300px;
    height: 150px;
    background: linear-gradient(129.09deg, #FFE6BF 20.65%, #FFB951 79.9%);
    border-radius: 10px;
    display: flex;
}

.six-block-point {
    padding: 10px;
    box-sizing: border-box;
    width: 67%;
    
}
.six-block-number {
    position: relative;
    font-family: 'Akzidenz-Grotesk Pro';
    color: #7C7C7C;
    font-size: 45px;
    font-weight: 100;
    text-align: left;
}
.six-block-title {
    position: relative;
    color: #151515;
    font-size: 14px;
    line-height: 1.2em;
    margin-top: 10px;
    text-align: left;
    
}
.six-block-point-img1 {
    position: relative;
    height: 150px;
    width: 150px;
    background-image: url(./img/main/five/Group\ 368.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.six-block-point-img2 {
    position: relative;
    height: 150px;
    width: 150px;
    background-image: url(./img/main/five/image-removebg-preview\ \(13\)\ 1.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.six-block-point-img3 {
    position: relative;
    height: 150px;
    width: 150px;
    background-image: url(./img/main/five//Mask\ group.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.six-block-point-img4 {
    position: relative;
    height: 125px;
    width: 130px;
    top: 20px;
    background-image: url(./img/main/five/image\ 1725.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.six-block-point-img5 {
    position: relative;
    height: 130px;
    width: 140px;
    top: 20px;
    background-image: url(./img/main/five/image\ 1726.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.six-block-point-img6 {
    position: relative;
    height: 125px;
    width: 130px;
    top: 20px;
    background-image: url(./img/main/five/image\ 1727.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}
.cloud_up-seven {
    position: absolute;
    width: 100%;
    background-image: url(./img/cloud_up.png);
    height: 260px;
    align-items: center;
    top: 5072px;
}
.cloud_down-seven {
    position: absolute;
    width: 100%;
    background-image: url(./img/cloud_down.png);
    height: 260px;
    align-items: center;
    top: 6780px;
}

.smoke-up-seven {
    position: absolute;
    width: 100%;
    background-image: url(./img/main/seven/image\ 1700.png);
    background-repeat: no-repeat;
    background-position: left 90% !important;
    height: 350px;
    top: 5050px;
    z-index: 1;
}
.smoke-center-seven {
    position: absolute;
    width: 600px;
    background-image: url(./img/main/seven/image\ 1710.png);
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    height: 800px;
     z-index: 1;
}
.smoke-down-seven {
    position: absolute;
    width: 100%;
    background-image: url(./img/main/seven/image\ 1711.png);
    background-repeat: no-repeat;
    background-position: left 90% !important;
    height: 450px;
    top: 5800px;
    z-index: 1;
}
.main_seven {
    position: relative;
    cursor: pointer;
    text-align: center;
    height: 1500px;
    background-color: #FFFFFF;
}

video {
    width: 70%;
    height: auto;
    
}
.vidio-player {
    position: relative;
    z-index: 100;
    cursor: pointer;
}

.heading-seven {
    width: 750px;
    margin: 100px 0 0 250px;
}

.main_seven_heading {
    text-transform: uppercase;
    color: #151515;
    text-align: left;
    padding: 0 36px;
    width: 750px;
    font-family: 'Akzidenz-Grotesk Pro Extra'; 
    font-weight: 700;
    font-size: 52px;
}


.feedback-block {
    width: 700px;
    height: 420px;
    border-radius: 20px;
    padding: 85px 80px;
    box-sizing: border-box;
    background-color: #151515;
    text-align: left;
    margin: 80px 0 0 130px;
}

.feedback-form {
    width: 300px;
    position: relative;
}
.feedback-form-input::placeholder {
    color: #212529;
    font-size: 14px;
  }
 

.feedback-form-input {
    all: unset;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    color: #151515;
}

.feedback-form-submit {
    position: relative;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 20px;
    background: linear-gradient(95.37deg, #FF6712 46.88%, #FF9900 100%);
    border: none;
    font-family: 'Akzidenz-Grotesk Pro Extra';
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    letter-spacing: .05rem;
    cursor: pointer;
}
.feedback-form-submit:hover {
    background: #FF9900;
}

.feedback-block-title {
    color: #ACACAC;
    font-size: 9px;
    margin-top: 20px;
    text-align: center;
}

.feedback-magazine {
    position: absolute;
    width: 900px;
    height: 700px;
    background-image: url(./img/main/seven/каталог.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;
    left: 550px;
    bottom: 20px;
}
.main_eight {
    margin-top: 200px;
    height: 750px;
}
.heading-eight {
    position: relative;
    width: 700px;
    margin: -120px 0 0 250px;
}

.main_eight_heading {
    text-transform: uppercase;
    text-align: left;
    padding: 0 36px;
    width: 700px;
    font-family: 'Akzidenz-Grotesk Pro Extra'; 
    font-weight: 700;
    font-size: 52px;
}

.main_eight-gift {
    position: relative;
    display: flex;
}

.giftbox {
    position: absolute;
    width: 400px;
    height: 400px;
    background-image: url(./img/main/eight/giftbox\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    left: 600px;
    top: -50px;
}

.main_eight-flowers {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}
.flowers {
    position: relative;
    width: 300px;
    height: auto;
    margin-left: -75px;
}

.main_nine-title {
    position: absolute;
    width: 400px;
    height: 170px;
    z-index: 5;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #FF9900;
    margin: 180px 0 0 250px;
}

.main_nine-heading {
    position: relative;
    text-transform: uppercase;
    font-size: 42px;
    width: 700px;
    font-family: 'Akzidenz-Grotesk Pro Extra'; 
    letter-spacing: .1rem;
}

.main_nine-maps {
    position: relative;
    display: flex;
    font-family: 'Akzidenz-Grotesk Pro Extra'; 
    font-size: 14px;
    align-items: center;
    margin-top: 15px;
}
.main_four_dots-navigation {
	bottom: 30px;
	display: flex;
	gap: 20px;
}
.main_four_dots-navigation .crl {
	cursor: pointer;
	height: 15px;
	width: 15px;
	border-radius: 4px;
	background-color:  #a06904;
	transition: 0.5s;
}
.main_four_dots-navigation .crl.active, .main_four_dots-navigation .crl:hover {
	background-color: #ffffe6;
}
