@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: local("Akzidenz-Grotesk Pro"), url("../../fonts/akzidenzgroteskpro_regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Akzidenz-Grotesk Pro Extra';
  src: local("Akzidenz-Grotesk Pro Extra"), url("../../fonts/akzidenzgroteskpro_cn.ttf") format("truetype");
  font-display: swap;
}
.carousel-block {
  padding: 50px 0 100px 0;
}

.carousel-block_heading {
    position: relative;
    width: 620px;
    margin: 0 auto;
    justify-content: center;
    z-index: 5;
    padding-bottom: 50px;
}

.carousel-block_txt {
    position: relative;
    font-family: 'Akzidenz-Grotesk Pro Extra'; 
    font-weight: 700;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 52px;

}

.carousel-watch {
  position: relative;
  width: 1198px; 
  height: 285px;
  z-index: 6;
  margin: 0 auto;
}

.carousel-window {
  position: relative;
  border-radius: 20px;
  height: 285px;
  width: 100%;
  z-index: 9;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel-window::before {
  background: linear-gradient(to right, rgb(228, 228, 228) 0%, rgba(255, 255, 255, 0) 80%);
  content: "";
  height: 285px;
  position: absolute;
  width: 200px;
  z-index: 10;
  left: 0;
  border-radius: 14px;
}
.carousel-window::after {
  background: linear-gradient(to left, rgb(253, 252, 252) 0%, rgba(255, 255, 255, 0) 50%);
  content: "";
  height: 285px;
  position: absolute;
  width: 200px;
  z-index: 10;
  right: 0;
  top: 0;
  border-radius: 14px;
}
.carousel {
  display: flex;
  transition: all 1s ease-in-out;
  gap: 20px;
  transition: transform 0.3s ease;
  list-style: none;
  padding: 0;
}

 .carousel-watch-photo {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
    scroll-snap-align: start;
    width: 386px;
    height: 265px;
    border-radius: 20px;
  }

.carousel-arrow {
  position: absolute;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.carousel-arrow{
  position: absolute;
  z-index: 900;
  top: 110px;
  justify-content: center;
  display: flex;
  gap: 370px;

}
.carousel-arrow-left, .carousel-arrow-right {
  position: relative;
  background-color: #f89d68;
  border: none;
  border-radius: 50%;
  transition: .1s;
}

.carousel-arrow-left:hover,
.carousel-arrow-left:focus {
    background-color: #FF6712;
    cursor: pointer;
    
}
.carousel-arrow-right:hover,
.carousel-arrow-right:focus {
    background-color: #FF6712;
    cursor: pointer;
}

#arrow-left {
    background-image: url(./img/Arrow_left.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}
#arrow-right {
    background-image: url(./img/Arrow_right.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}
  .carousel_dots_navigation {
    color: #878585;
    position: relative;
    display: flex;
    gap: 6px;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    z-index: 500;
}
.carousel_dots {
    transition: .2s;
}
.carousel_dots:hover {
    color: #FF6712;
}
@media screen and (max-width: 1300px) {
  .carousel-window {
    width: 900px;
    height: 210px;
    
    margin: 0 auto;
    justify-content: center;
  }
  .carousel-watch {
    height: 210px;
    width: 900px;
  }
  .carousel-window::before {
    height: 210px;
  }
  .carousel-window::after {
    height: 210px;
  }

  .carousel-watch-photo {
    height: 210px;
  }
  .item {
    width: 294px;
    height: 210px;
  }
  .carousel-arrow {
    top: calc(100% - 130px);
    gap: 270px;
  }
  .carousel_dots_navigation {
    margin-top: 15px;
}
}

@media screen and (max-width: 1200px) {
  .carousel-window {
    width: 700px;
    height: 400px;

  }
  .carousel-watch-photo {
    height: 400px;
    width: 700px;
  }
  .carousel-watch {
    height: 400px;
    width: 700px;
  }
  
  .item {
    height: 400px;
    width: 700px;
  }
  .carousel-window::before, .carousel-window::after {
    display: none;
  }
  
  .carousel-arrow {
    top: calc(100% - -25px);
    display: flex;
    gap: 200px;
  }
  .carousel_dots_navigation {
    gap: 6px;
    font-size: 25px;
    margin-top: 32px;
}
}
@media screen and (max-width: 800px) {
  .carousel-block_heading {
    width: 450px;
  }
   .carousel-block_txt {
    font-size: 48px;
}
  .carousel-window {
    width: 450px;
    height: 250px;

  }
  .carousel-watch-photo {
    height: 250px;
    width: 450px;
  }
  .carousel-watch {
    height: 250px;
    width: 450px;
  }

  .item {
    height: 250px;
    width: 450px;
  }
}
@media screen and (max-width: 550px) {
   .carousel-block_heading {
    width: 300px;
  }
   .carousel-block_txt {
    font-size: 36px;
}
  .carousel-window {
    width: 100%;
    height: 200px;

  }
  .carousel-watch-photo {
    height: 200px;
    width: 100%;
  }
  .carousel-watch {
    height: 200px;
    width: 100%;
  }
  
  .item {
    height: 200px;
    width: 100%;
  }
  .carousel-arrow {
    top: 223px;
    display: flex;
    gap: 150px;
  }
}
@media screen and (max-width: 380px)  {
  .carousel-block_heading {
    width: 200px;
  }
  .carousel-block_txt {
    font-size: 32px;
}

}


