@font-face {
    font-family: 'Akzidenz-Grotesk Pro';
    src: local("Akzidenz-Grotesk Pro"), url("../../fonts/akzidenzgroteskpro_regular.ttf") format("truetype");
    font-display: swap;
  }
  @font-face {
    font-family: 'Akzidenz-Grotesk Pro Extra';
    src: local("Akzidenz-Grotesk Pro Extra"), url("../../fonts/akzidenzgroteskpro_cn.ttf") format("truetype");
    font-display: swap;
  }
  
.sliderBar {
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

.sliderBar-button {
   position: absolute;
   right: 0;
   top: 60px;
   z-index: 1000;
   flex-direction: column;
   margin: 0;
}

.sliderBar-button-open {
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 500;
    display: none;
}


.sliderBar_grup{
    position: relative;
    border: none;
    background-color: #FF6712;
    transition: .5s;
    justify-content: center;
    width: 100px;
    height: 80px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 10px 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.sliderBar_grup-open {
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 10px 5px;
    background-color: #FF6712;
    box-sizing: border-box;
    transition: .5s;
}

.sliderBar_grup-open button {
    background: none;
    border: none;
    cursor: pointer;
}
.sliderBar_grup:hover, .sliderBar_arrow:hover,
.sliderBar_grup-open:hover, .sliderBar_arrow-open:hover{
    background-color: #212529;
}

.sliderBar_arrow-open {
    position: absolute;
    z-index: 1000;
    margin: 10px 0;
    border-radius: 10px;
    padding: 5px 0 0 1px;
    background-color: #FF6712;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    width: 40px;
    height: 40px; 
    cursor: pointer;
    transition: .5s; 
}
.sliderBar_arrow {
    position: relative;
    z-index: 1000;
    margin: 0 30px;
    border-radius: 10px;
    padding: 10px 12px;
    box-sizing: border-box;
    background-color: #FF6712;
    width: 40px;
    height: 40px; 
    transition: .5s;  
}
.sliderBar_right-menu {
    justify-content: center;
    text-align: center;
}

.sliderBar_title {
    font-size: 14px;
}
.sliderBar_icon {
    width: 22px;
    height: auto;
}
.sliderBar_icon-up {
    width: 22px;
    height: auto;
    margin-top: 10px;
}

.sliderBar_icon-open {
    width: 32px;
    height: auto;
}
.up {
    margin-top: 3px;
}



@media screen and (max-width: 800px) {
    .sliderBar-button {
        top: 0px;
     }
     .sliderBar-button-open {
        top: 0px;
    }
}

@media screen and (max-width: 550px)  {
    .sliderBar {
        background-color: #FF6712;
        top: calc(100% - 80px);
        
    }
    .sliderBar-button {
        display: inline-flex;
        flex-direction: row;
        position: sticky;
        width: 100%;
    }
    .sliderBar_arrow {
        display: none;
    }
    .sliderBar_grup {
        position: relative;
        justify-content: center;
        width: 25%;
        font-size: 12px;
        border-radius: 0;
    }
    .sliderBar_grup:hover, .sliderBar_arrow:hover {
        background-color: #FF6712;
        width: 25%;   
}

}