@font-face {
  font-family: 'Akzidenz-Grotesk Pro';
  src: local("Akzidenz-Grotesk Pro"), url("../fonts/akzidenzgroteskpro_regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Akzidenz-Grotesk Pro Extra';
  src: local("Akzidenz-Grotesk Pro Extra"), url("../fonts/akzidenzgroteskpro_cn.ttf") format("truetype");
  font-display: swap;
}
.carousel-block {
    margin-top: 100px;
}

.carousel-block_heading {
    position: relative;
    width: 620px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 350px;
    z-index: 5;
}

.carousel-block_txt {
    position: relative;
    font-family: 'Akzidenz-Grotesk Pro Extra'; 
    font-weight: 700;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 52px;

}

.carousel-watch {
    position: relative;
    z-index: 6;
    margin-top: 80px;
    width: 100%;
  }
  .carousel-window {
      position: relative;
      z-index: 9;
      border-radius: 20px;
  }
  .carousel-window::before {
    background: linear-gradient(to right, rgb(228, 228, 228) 0%, rgba(255, 255, 255, 0) 80%);
    content: "";
    height: 280px;
    position: absolute;
    width: 200px;
    z-index: 10;
    left: 0;
  }
  .carousel-window::after {
    background: linear-gradient(to left, rgb(253, 252, 252) 0%, rgba(255, 255, 255, 0) 50%);
    content: "";
    height: 280px;
    position: absolute;
    width: 200px;
    z-index: 10;
    right: 0;
    top: 0;
  }
  .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(96.8% / 3);
    grid-gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .item {
    scroll-snap-align: start;
    width: 453px;
    height: 280px;
    border-radius: 20px;
    width: 100%;
    padding-bottom: 15px;
  }
  .carousel-arrow {
    position: absolute;
    z-index: 900;
    top: 110px;
    justify-content: center;
    width: 1300px;
    display: flex;
    gap: 390px;
  
  }
  .carousel-arrow-left, .carousel-arrow-right {
    position: relative;
    background-color: #f89d68;
    border: none;
    border-radius: 50%;
    transition: .1s;
  }
  
  .carousel-arrow-left:hover,
  .carousel-arrow-left:focus {
      background-color: #FF6712;
      cursor: pointer;
      
  }
  .carousel-arrow-right:hover,
  .carousel-arrow-right:focus {
      background-color: #FF6712;
      cursor: pointer;
  }
  
  #arrow-left {
      background-image: url(./img/Arrow_left.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 50px;
      height: 50px;
  }
  #arrow-right {
      background-image: url(./img/Arrow_right.png);
      background-repeat: no-repeat;
      background-position: center;
      width: 50px;
      height: 50px;
  }



